@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Quicksand:wght@300&display=swap');

body {
    font-family: Goldman;
    margin: 0 auto;
}


.website-head {
    background-color: #F28A13;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    min-height: 100px;
    position: relative;
    
}

nav {
    overflow: auto;
    
}



.title {
    padding-left: 40px;
    
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    text-decoration: none;
    display: block;
    color: black;
    margin: 35px 30px;
}

.introduction {
    background-color: white;
    margin: 0;
    padding: 10px 10px 10px 30px;
    font-family: quicksand;
    display: flex;
}

.quote {
    text-align: right;
    padding-top: 0px;
    position: absolute;
    margin-left: 55%;
    top: 28%
}

.introduction-letter {
    position: absolute;
    top: 28%;
    left: 30%;
    transform: translate(-50%, -50%);
    line-height: 50px;
}

.margin-pic {
    max-width: 30%;
}

.explanation {
    font-family: quicksand;
    display: flex;
}

.left-col {
    margin-left: 4%;
}

.right-col {
    margin-left: -8%;
    text-align: left;
}

.links a {
    text-decoration: none;
    color: coral;
}

.q1 {
    font-family: quicksand;
    font-size: 1.1em;
    line-height: 2rem;
    margin-left: 2%;
    display: flex; 
}

.right-col-p {
    margin-left: 7%;
    text-align: left;
}
.personality {
    max-width: 71.5%;
    padding-top: 2.5%;

}

.right-col-p-2 {
    margin-left: -21%;
    margin-top: 4%;
}

